// Helper
@import'./Helper/variables';
@import'./Helper/mixin';

// Vendor chỉ import file có đuôi scss

// Base
@import './Base/reset';
@import'./Base/customizes';

// Components
@import'./Components/button';
// Layout
@import'./Layouts/header';
@import'./Layouts/carousel';
@import'./Layouts/intro';
@import'./Layouts/courses';
@import'./Layouts/services';
@import'./Layouts/students';
@import'./Layouts/banner';
@import'./Layouts/categories';
@import'./Layouts/comment';
@import'./Layouts/company';
@import'./Layouts/footer';
// Page

// Theme