.banner__border{
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    height: 8px;
}
.banner__content{
    align-items: center;
    background-color: $color-black-0;
    color: $color-gray-5;
    display: flex;
    height: 360px;
    text-align: center;
    .banner__gird{
        width: 100%;
        i{
            @include styleText($color-white-0,$fs-3 + 5,$fw-bold-0)
        }
        .banner__icon__top{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
        .banner__text__mid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            padding: ($pd-2 * 2.5) 0;
            .text__mid{
                h1{
                    @include styleText($color-white-0,$fs-3,$fw-bold-1)
                }
                button{
                    @include styleButton($color-trans,$color-red-0,$pd-1 + 1,$pd-1 + 2,$border-radius);
                    &:hover{
                        background: $color-red-2;
                    }
                }
            }
        }
        .banner__icon__bot{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    }
}
// RESPONSIVE
.banner{
    @include responsive("large"){
        .banner__text__mid{
            grid-template-columns: none !important;
        }
        i{
            display: none;
        }
    }
}