footer {
    border-bottom: 6px solid #ec5252;
    .footer__top {
        width: 80%;
        margin: 0 auto;
        display: flex;
        padding: $pd-2;
        .top__left {
            .links {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                list-style: none;
                a {
                    @include styleText($color-blue, $fs-1, $fw-normal);
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover {
                        color: $color-black-0;
                    }
                }
                .text__bold {
                    font-weight: $fw-bold-1;
                }
            }
        }
        .top__right{
            text-align: right;
            select{
                padding: $pd-0 ($pd-1 + 5);
            }
        }
    }
    .footer__bot{
        width: 80%;
        margin: 0 auto;
        padding: $pd-2;
        .bot__left{
            div{
                display: flex;
                align-items: center;
                p{
                    padding-left: $pd-2;
                    @include styleText($color-gray-4,$fs-1,$fw-normal)
                }
            }
            img{
                width: 110px;
            }
        }
        .bot__right{
            ul{
                margin-top: $mg-0;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                a {
                    @include styleText($color-blue, $fs-1, $fw-normal);
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover {
                        color: $color-black-0;
                    }
                }
            }
        }
    }
}
