.services{
    padding: 20px 0;
    background: $color-white-cream;
    .services__item{
        background: $color-white-0;
        margin: $mg-1;
        padding: $pd-2;
        .services__text{
            margin-left: $mg-1;
            h1{
                @include styleText($color-black-0,$fs-2,$fw-bold)
            }
            p{
                @include styleText($color-gray-4,$fs-0,$fw-normal)
            }
        }
    }
}